nav{
    display: flex;
    justify-content: space-between;
}

.search-parent{
    position: relative;
}

.search-parent input{
    background-color: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
}

.search-parent i{
    position: relative;
    right: 50px;
}